body {
    background-color: #1b1c1c;
    color: white;
}

a {
    text-decoration: none;
    color: mediumaquamarine;
}

a:visited {
    color: mediumaquamarine;
}

a:hover {
    color: aqua
}

form {
    margin: 1em;
}

input {
    color: white;
    background-color: slategray;
    margin-bottom: 1em;
    padding: 5px;
    border-radius: 5px;
}

button {
    color: white;
    background-color: slategray;
}

button:hover {
    background-color: darkslategray;
}

input::placeholder {
    color: white;
}

.required {
    color: red
}

.box {
    justify-self: center;
    background-color: #3a3a3a;
    border: 1px, black;
    border-radius: 1em;
    padding: 1em;
}

table, th, td{
    border: 1px solid white;
    border-collapse: collapse;
    padding: 5px;
}

.hover:hover {
    background-color: gray;
}